body{
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(128, 147, 141);
    text-align: center;
    padding: 20px;
}

h1{
    color: rgb(0, 0, 0);
}
ul{
    list-style-type: none;
    padding: 0;
}
li{
    background-color: rgb(7, 41, 41);
    margin: 10px 0;
    padding: 10px;
    border-radius: 10px;
   box-shadow: o 2px 5px rgb(0,0,0,0.1); 
}