body{
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(142, 128, 147);
    text-align: center;
    padding: 20px;
}

h1{
    color: rgb(0, 0, 0);
}
ul{
    list-style-type: none;
    padding: 0;
}
li{
    background-color: rgb(27, 7, 41);
    margin: 10px 0;
    padding: 10px;
    border-radius: 10px;
   box-shadow: o 2px 5px rgba(0, 0, 0, 0.1); 
}